body {
    margin: 40px;
    background-color: #f8faf7;
  }
header {
    font-family: Arial;
}
.exampleone {  
    margin-left: 230px
  }
.imagen-flotante-l {
    float: left;
    margin-right: 20px;
    margin-bottom: 3px;
  }
.imagen-flotante-r {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }