body {
    margin: 40px;
    background-color: #f8faf7;
  }
header {
    font-family: Arial;
}
.exampleone {  
    margin-left: 230px
}
.imagen-flotante-l {
    float: left;
    margin-right: 20px;
    margin-bottom: 3px;
}
.imagen-flotante-r {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.desktop-table tr td {
    text-align: center;
}
.mobile-table {
    display: none;
}
@media (max-width: 533px){
    .mobile-table {
        min-width: 118px;
        max-width: 133px;
        display: block;
        background-color: #185324;
        position: relative;
        margin-top: 20px;
        margin-left: 55.5px;
        left: 40%;
        transform: translate(-60%);
    }
    .desktop-table {
        display: none;
    }
}